<!-- Just swap next stylesheet and font block to change theme -->

<!-- Retro style CSS --> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_retro.css') }}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<!-- Minimal Light style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_minimal_light.css') }}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">


<!-- Midnight Neon style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_midnight_neon.css') }}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">


<!-- Pastel Glass style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_pastel_glass.css') }}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">


<!-- Solarized Dark style CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_solarized_dark.css') }}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap" rel="stylesheet">





